# El virtual environment
/venv/

# Donde se guardará la base de datos de CodeQL
/db/

# Donde se clonarán repositorios
/workspace/

# Variables de entorno / token
.env


# Cache de Python
__pycache__/
*.pyc
.pytest_cache/

*.egg-info/

test-*.json
results.json



